<div class="text-center" style="margin-bottom:70px;">
    <h1 class="display-4">Create employee</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form id="employee-form" data-type="create">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" name="Name" id="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Surname">Surname</label>
                                    <input type="text" class="form-control" name="Surname" id="Surname">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Age">Age</label>
                                    <input type="text" class="form-control" name="Age" id="Age">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Salary">Salary</label>
                                    <input type="text" class="form-control" name="Salary" id="Salary">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Phone">Phone (+994)</label>
                                    <input type="text" class="form-control" name="Phone" id="Phone">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" name="Email" id="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Position">Department</label>
                                    <select class="form-control" name="Position" id="Position">
                                    </select>
                                </div>
                            </div>

                        </div>



                    </form>

                </div>
                <div class="card-body text-center">
                    <button class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>