


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/
html {
  position: relative;
  min-height: 100%;
}

body {

    margin-bottom: 60px;
    font-family: 'Space Grotesk', sans-serif !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}


.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}


.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 25px;
    top: 20px;
    opacity: 0.3;
}



.bg-red {
    background: #D82A34;
}
.bg-yellow {
    background: #FEC525
}
.bg-green {
    background: #81BD5B
}
.bg-blue {
    background: #0171C7
}

.card-red{
    color:white;
}

.btn-area {
    margin-top: 30px;
    text-align:right;
}

.col-md-10{
    top:30px !important;
}

.btn-dep{
    border:none;
    color:white;
}

.btn-dep:hover{
    color:black !important;
}

.btn-emp {
    border: none;
    color: black;
}

